*{
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    text-align: center;
  }

  /* re-usables */
  .hide{
      display: none;
  }

/* ===== Welcome ===== */


/* ===== Character Select ===== */

.profile-pic{
    width: 10%;
}

/* ===== Fight Stage */

#arena{
    background-image: url('https://i.pinimg.com/originals/35/13/43/3513439019ca80cba5f01beb2467b70c.gif');
    width: 90%;
    height: 80%;
    background-size: cover;
    padding-top: 0px;
}